@import url("http://fonts.googleapis.com/css?family=Lato:100");

* {margin: 0; padding: 0;}

html, body {height: 100%;}

#clkcolor {
	color: white; 
	font: 125px/125px Lato; 
	height: 125px;
	position: relative; 
	top: 50%; 
	margin-top: -32px;
	text-align: center;
	opacity:1;
}